*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.logo{
    width:7%;
    height:7%;
}
.card-img-top{
    width: 100%;
    height:200px;
    object-fit: contain;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: gold;
    text-align: center;
    padding: 20px 0; /* Adjust the padding as needed */
}

.copyright {
    background-color: gold;
    text-align: center;
}

.admin_image{
    width:100px;
    object-fit: contain;
}

.profile_img{
    width:100%;
    height:100%;
    
}